{
    "server": {
        "host": "0.0.0.0",
        "port": 9000,
        "tls_cert": "",
        "tls_key": "",
        "max_file_size": 2147483648
    },
    "database": {
        "host": "127.0.0.1",
        "port": 5432,
        "user": "dierchat",
        "password": "dierchat",
        "dbname": "dierchat",
        "sslmode": "disable"
    },
    "redis": {
        "host": "127.0.0.1",
        "port": 6379,
        "password": "",
        "db": 0
    },
    "jwt": {
        "secret": "RANDOM_LONG_STRING_AT_LEAST_32_CHARS",
        "expiration": "720h"
    },
    "media": {
        "storage_path": "./media",
        "max_file_size": 2147483648,
        "cdn_base_url": "http://31.148.99.40:9000/media"
    },
    "sms": {
        "provider": "smsc",
        "login": "smsc_login",
        "api_key": "smsc_password",
        "sender": ""
    },
    "smtp": {
        "host": "smtp.gmail.com",
        "port": 587,
        "login": "dier.groups@gmail.com",
        "password": "mvgksyxykxrfgftn",
        "from": "dier.groups@gmail.com"
    },
    "push": {
        "vapid_public_key": "",
        "vapid_private_key": ""
    }
}
